# Use new container infrastructure to enable caching
sudo: required
dist: trusty

# Choose a lightweight base image; we provide our own build tools.
language: c

# GHC depends on GMP. You can add other dependencies here as well.
addons:
  apt:
    packages:
    - libgmp-dev
    - build-essential
    - cmake
    - git
    - libgtk2.0-dev
    - pkg-config
    - libavcodec-dev
    - libavformat-dev
    - libswscale-dev
    - python-dev
    - python-numpy
    - libtbb2
    - libtbb-dev
    - libjpeg-dev
    - libpng-dev
    - libtiff-dev
    - libjasper-dev
    - libdc1394-22-dev

# The different configurations we want to test. You could also do things like
# change flags or use --stack-yaml to point to a different file.
env:
- ARGS="--jobs 2 --resolver lts-8.9" CACHE_NAME=LTS_8_9_CV_3_2_0

before_install:
# Install OpenCV 3
- ./travis-build-opencv
- export PKG_CONFIG_PATH=$(pkg-config --variable pc_path pkg-config):$HOME/usr/lib/pkgconfig
- export INCLUDE_PATH=$HOME/usr/include:${INCLUDE_PATH}
- export LD_LIBRARY_PATH=$HOME/usr/lib:${LD_LIBRARY_PATH}

# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

# This line does all of the work: installs GHC if necessary, build the library,
# executables, and test suites, and runs the test suites. --no-terminal works
# around some quirks in Travis's terminal implementation.

before_cache:
- rm -f $HOME/fresh-cache

script:
- stack --no-terminal --install-ghc build --only-dependencies $ARGS
- stack --no-terminal test    --only-dependencies $ARGS
#- stack --no-terminal haddock --only-dependencies $ARGS -- too long :(
- bash trampoline.sh

# Caching so the next build will be fast too.
cache:
  timeout: 1000
  directories:
  - $HOME/.stack
  - $HOME/usr
